.step-header {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #67b3f4, #357ae8);
  color: white;
  font-weight: 500;
  padding: 20px 0px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.step-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.step {
  background-color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #007dfe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 32px;
}

.form-left .form-title {
  font-size: 32px;
  margin: 0px;
  margin-bottom: 8px;
}

.form-left .form-subtitle {
  margin: 0px;
}

.form-identitas {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin-top: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 16px 8px;
}

.form-identitas div {
  width: 100%;
}

/* .form-identitas input,
.form-identitas select,
.form-identitas textarea {
  box-sizing: border-box;
  width: 100%;
} */

.input-nomor-telepon {
  grid-row-start: 2;
}

.input-email {
  grid-row-start: 2;
}

.input-program-studi {
  grid-row-start: 3;
}

.input-semester {
  grid-row-start: 3;
}

.input-keterangan {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
}

.agreement {
  margin-top: 16px;
  display: flex;
  align-items: start;
  gap: 16px;
}

.checkbox-agreement {
  width: fit-content !important;
}

.submit-btn {
  margin-top: 20px;
  background-color: #357ae8;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #285dc1;
}
