input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.step-header {
  display: flex;
  background-color: #edeffe;
  color: white;
  font-weight: 500;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.step-active {
  display: flex;
  background: linear-gradient(to right, #67b3f4, #357ae8);
  width: 66.6%;
  border-radius: 0px 50px 50px 0px;
}

.step-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px 0px;
}

.step-1 {
  width: 50%;
}

.step-2 {
  width: 50%;
}

.step-3 {
  width: 33.3%;
  color: #8e94d2;
}

.step {
  background-color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #007dfe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-3 .step {
  background-color: #8e94d2;
  color: #edeffe;
}

.container {
  margin: 80px auto;
  padding: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.search-bar input {
  width: 60%;
  border-radius: 8px 0 0 8px;
}

@media (max-width: 768px) {
  .search-bar input {
    width: 100%;
    border-radius: 8px 0 0 8px;
  }
}

.search-bar button {
  background-color: #357ae8;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border-radius: 12px;
  text-align: center;
  background: #fdfdfd;
  transition: all 0.2s ease;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-description {
  padding: 16px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.card p {
  font-size: 13px;
  color: #777;
  margin: 5px 0 10px;
}

.btn {
  display: inline-block;
  background-color: #357ae8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  transition: background 0.2s;
}

.quantity {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.qty-btn {
  background-color: #357ae8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  transition: background 0.2s;
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination button {
  background: #eee;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

.pagination button.active {
  background: #4a90e2;
  color: white;
}

.next-btn {
  background-color: #357ae8;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
