.dataMahasiswa {
  margin-top: 24px;
  width: 60%;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 16px;
}

.row {
  display: grid;
  grid-template-columns: 150px 10px 1fr;
  gap: 8px;
  margin-bottom: 10px;
}

.label {
  color: #6b7280;
  font-size: 14px;
}

.colon {
  color: #6b7280;
}

.value {
  color: #111827;
  font-size: 14px;
  font-weight: 500;
}

.inputKeterangan {
  margin-top: 16px;
}

.inputKeterangan textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.agreement {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  width: 60%;
}

.checkboxAgreement {
  margin-top: 4px;
  width: fit-content;
}

.submitBtn {
  margin-top: 20px;
  background-color: #357ae8;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 60%;
  font-weight: bold;
  font-size: 16px;
}

.submitBtn:hover {
  background-color: #285dc1;
}

.labelAgreement {
  text-transform: capitalize !important;
}
