body.notif-body {
  background-color: #f7f8fa;
  padding: 60px 0;
  margin : 90px;
}

.email-container {
  max-width: 900px;
  margin: 90px auto;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #0067E5;
  padding: 30px 70px 30px 70px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.email-container .logo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
}

.email-container .logo img {
  width: 120px;   
  display: center;
  height: auto;
}

.content {
  text-align: left;
}

.content p.greeting {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}

.content h2 {
  margin: 5px 0 0 0;
  font-size: 25px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.details {
  background: #EDEFFE;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  text-align: left;
}

.detail-title {
  padding-right: 200px !important;
}

.detail-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 8px;
}

.detail-row {
  display: flex;
}

.detail-col {
  min-width: 360px;
}

.details h4 {
  margin-top: 0;
  color: #111;
  font-size: 15px;
}

.details table {
  width: 100%;
  margin-top: 15px;
}

 .table-tr {
 margin-bottom: 100px !;
}

.details td {
  padding: 4px;
  font-size: 14px;
  color: #000000;
  vertical-align: top;
}

.details strong {
  font-weight: normal;
}

.info {
  background: #EDEFFE;
  padding: 10px 10px 50px 0px;
  border-radius: 15px;
  display: flex;
  gap: 12px;
}

 .icon {
  padding: 20px 0px 20px 0px;
 }  

.content {
  padding: 15px 5px 10px 5px;
}

.divider {
  height: 100px;
  width: 15px;
  background-color: #0067E5;
  border-radius: 12px;
  
}

.info-email strong {
  display: block;
  margin-bottom: 5px;
}