.card {
  position: relative; /* WAJIB */
  background: #ffffff;
  width: 520px;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #adc1e9;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn:hover {
  background: #ffffff;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.card {
  background: #ffffff;
  width: 520px;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  max-height: 260px;
  object-fit: contain;
  border-radius: 16px;
  margin-bottom: 20px;
}

.content {
  text-align: left;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: #374151;
  margin-bottom: 12px;
}

.color {
  font-size: 14px;
  color: #111827;
}
