/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
  background: #fff;
  padding: 15px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins';

}

.logo img {
  width: 150px;   
  display: flex;
  height: auto;
}


/* HERO SECTION */
.hero {
  position: relative;
  background: url('../../assets/images/bg.png') center/cover no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: left;
}

.hero-overlay {
  background-color: rgba(0, 40, 80, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 80px;
  color: #fff;
}

.hero-content h2 {
  font-size: 40px;
}

.hero-content p {
  font-size: 20px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.hero-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn-primary {
  background: #007bff;
  color: #fff;
  margin-right: 50px;
  padding: 15px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.3s ease;
  white-space: nowrap; 
  font-family: 'Poppins' sans-serif;
  font-size: 20px;
}

.btn-primary:hover {
  background: #0056b3;
}


/* INFO SECTION */
.info {
  background: #ffffff; /* sesuai figma */
  padding: 80px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.info-image img {
  width: 600px;
  height: 600px;
}

.info-wrapper {
  width: 100%;
}

.info-wrapper h3 {
  font-size: 50px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 450px;
  font-family: 'Poppins' sans-serif;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.number {
  width: 42px;
  height: 42px;
  border: 2px solid #007DFE;
  color: #007DFE;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

.text {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins' sans-serif;
}

.text h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
  color: #000;
  font-family: 'Poppins' sans-serif;
}

.text p {
  font-size: 20px;
  color: #555;
  margin: 0;
}

/* ===================================
 NOTIFIKASI EMAIL SECTION
 =================================== */

body.notif-body {
  background-color: #ffffff;
  padding: 60px 0;
  margin : 90px;
}

.email-container {
  max-width: 900px;
  margin: 90px auto;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #0067E5;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.content p.greeting {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}

.content h2 {
  margin: 5px 0 0 0;
  font-size: 200px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.details {
  background: #EDEFFE;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.detail-title {
  padding-right: 200px !important;
}

.detail-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 8px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
}

.detail-col {
  min-width: 390px;
}

.details h4 {
  margin-top: 0;
  color: #111;
  font-size: 15px;
}

.details table {
  width: 100%;
  margin-top: 15px;
}

 .table-tr {
 margin-bottom: 100px !;
}

.details td {
  padding: 4px;
  font-size: 14px;
  color: #000000;
  vertical-align: top;
}

.details strong {
  font-weight: normal;
}

.info {
  background: #ffffff;
  padding: 10px 10px 50px 0px;
  display: flex;
  gap: 15px;
}

 .icon {
  padding: 20px 0px 20px 0px;
 }  

.content {
  padding: 15px 5px 10px 5px;
}

.divider {
  height: 100px;
  width: 15px;
  background-color: #0067E5;
  border-radius: 12px;
  
}

.info-email strong {
  display: block;
  margin-bottom: 5px;
}
