/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
  background: #fff;
  padding: 15px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins';
}

.logo img {
  width: 120px;
  display: flex;
  height: auto;
}

/* HERO SECTION */
.hero {
  position: relative;
  background: url('../../assets/images/bg.png') center/cover no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Poppins' sans-serif;
}

.hero-overlay {
  background-color: rgba(0, 40, 80, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 100px;
  gap: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Poppins' sans-serif;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  color: #fff;
  flex: 1;
}

.hero-content h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 700px;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #f5f5f5;
  text-align: left;
  max-width: 700px;
}

.hero-content a {
  background-color: #007dfe;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero-button:hover {
  background-color: #005fc4;
}

.btn-primary {
  background: #007bff;
  color: #fff;
  padding: 15px 40px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
  white-space: nowrap;
  font-family: 'Poppins' sans-serif;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: #0056b3;
  color: #e8e8e8;
}

/* INFO SECTION */
.info {
  background: #fff;
  padding: 60px 0;
}

.info-wrapper {
  width: 100%;
  margin-top: 50px;
}

.info h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.info-image img {
  max-width: 800px;
  height: auto;
  display: block;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 450px;
  font-family: 'Poppins' sans-serif;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.number {
  width: 32px;
  height: 32px;
  border: 2px solid #007dfe;
  color: #007dfe;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

.text {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins' sans-serif;
}

.text h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
  font-family: 'Poppins' sans-serif;
}

.text p {
  font-size: 18px;
  color: #555;
  margin: 0;
}

/* ===================================
 NOTIFIKASI EMAIL SECTION
 =================================== */

body.notif-body {
  background-color: #f7f8fa;
  padding: 60px 0;
  margin: 90px;
}

.email-container {
  max-width: 900px;
  margin: 90px auto;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #0067e5;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.email-container .logo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
}

.email-container .logo .dip {
  color: #000000;
  /* hitam */
}

.email-container .logo .lab {
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: 600;
  color: #767a7d;
}

.content p.greeting {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}

.content h2 {
  margin: 5px 0 0 0;
  font-size: 25px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.details {
  background: #edeffe;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.detail-title {
  padding-right: 200px !important;
}

.detail-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 8px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
}

.detail-col {
  min-width: 390px;
}

.details h4 {
  margin-top: 0;
  color: #111;
  font-size: 15px;
}

.details table {
  width: 100%;
  margin-top: 15px;
}

.table-tr {
  margin-bottom: 100px !;
}

.details td {
  padding: 4px;
  font-size: 14px;
  color: #000000;
  vertical-align: top;
}

.details strong {
  font-weight: normal;
}

.info {
  padding: 10px 10px 50px 0px;
  border-radius: 15px;
  display: flex;
  gap: 12px;
}

.icon {
  padding: 20px 0px 20px 0px;
}

.content {
  padding: 15px 5px 10px 5px;
}

.divider {
  height: 100px;
  width: 15px;
  background-color: #0067e5;
  border-radius: 12px;
}

.info-email strong {
  display: block;
  margin-bottom: 5px;
}
