/* BODY */
body.notif-body {
  background-color: #f7f8fa;
  padding: 60px 0;
  font-family: 'Poppins', sans-serif;
}

/* CONTAINER */
.email-container {
  max-width: 900px;
  margin: 90px auto;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #0067E5;
  padding: 30px 70px 30px 70px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* LOGO */
.logo img {
  max-width: 140px;
  margin-bottom: 20px;
}

/* HEADER */
.greeting {
  text-align: center;
  color: #444;
}

.title-danger {
  text-align: center;
  color: #ff2d2d;
  margin-bottom: 30px;
  font-size: 20px;
}

/* DETAILS */
.details {
  background: #EDEFFE;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  text-align: left;
}

.detail-title {
  padding-right: 200px !important;
}

.details h3 {
  margin-bottom: 25px;
}

.detail-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail-row {
  display: grid;
  grid-template-columns: 250px 1fr;
  font-size: 14px;
}

/* INFO BOX */
.info-box {
  display: flex;
  gap: 15px;
  background: #eef1ff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.info-icon {
  width: 95px;
  height: 36px;
  background: #ffcc00;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-content p {
  margin: 9px 0;
  font-size: 15px;
}

.contact {
  font-weight: bold;
}

/* BUTTON */
.btn-primary {
  display: block;
  text-align: center;
  background: #1e66ff;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}
