.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(6px);
}

.modal {
  background: #ffffff;
  width: 60%;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.ikon {
  width: 126.67px;
  height: 126.67px;
}

.modal h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

.modal p {
  color: #555;
  margin-bottom: 25px;
}

.btn-primary {
  background: #2f6fed;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 14px;
}

.btn-primary:hover {
  background: #245edb;
}

